@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "inter",sans-serif;
}

.container{
    background-color: #5E936C;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.container .image{
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 95dvh;
    margin: 10px;

}

/* .container .image .logo{


} */

.container .menu{
    color: white;
    width: 100%;
    height: 95dvh;
    border-left: 1px solid white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

.container .menu .title h1{
    font-weight: 400;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 4px;

    
}

