@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "inter",sans-serif;
}

.container{
    background-image: linear-gradient(to right,#5E936C, #3E5F44);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.container .image{
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 95dvh;
    margin: 10px;

}

/* .container .image .logo{


} */

.container .menu{
    color: white;
    width: 100%;
    height: 95dvh;
    border-left: 1px solid white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

.container .menu .subMenu .title {
    display: flex;
    justify-content: center;


}
.container .menu .subMenu .title h1{
    font-weight: 400;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 4px;
}

.container .menu .subMenu .button{
    display: flex;
    justify-content: end;
}

.container .menu .subMenu .dirrectToSignUp{
    display: flex;
    justify-content: center;
}
.container .menu .subMenu .dirrectToSignUp a{
    color: white;

}

@media (max-width: 768px) {
    .container .menu .subMenu .title h1{
        font-size: 3rem;
    }
}
@media (max-width: 768px) and (max-height: 1024px) {
    .container .menu .subMenu .title h1{
        font-size: 3rem;
    }
        .container .menu .subMenu .title{
        margin-top: 2rem;
    }
    


}

@media (max-width: 375px){
    .container .image{
        display: none;
    }
    .container .menu{
        border: none;
        align-items: center;
    }
        .container .menu .subMenu .title h1{
        font-size: 1rem;
    }


}

@media(max-width: 435px) and (max-height: 935px){
        .container .image{
        display: none;
    }
    .container .menu{
        border: none;
    }
        .container .menu .subMenu .title h1{
        font-size: 3rem;
    }
}