body{
    background-color: #5E936C;
}
.title{
    color:white;
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.input{
    height: 3dvh;
    border: none;
    background-color: #D9D9D9;
    border-radius: 16px;
    width: 60vh;
    height: 7vh;
}